<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.examples.concepts">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Concepts">
        <activity android:name=".EnrichActivity" />
        <activity
            android:name=".WebViewActivity"
            android:parentActivityName=".GithubActivity" />
        <activity
            android:name=".GithubActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TmdbActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".utils.ProductProvider"
            android:authorities="com.examples.concepts"
            android:exported="false"
            android:protectionLevel="signature"
            android:syncable="true"/>
    </application>

</manifest>